#
# database: DBI:SQLite:dbname=trend-tracker.sqlite3
#      The perl DBI database handle to use for the connection
database: DBI:SQLite:dbname=trend-tracker.sqlite3
#
# key: foo
#      this field is used to determine if there is data for a given numeric
#      slot.  EG, if the key is "foo" then the data collection engine will
#      look for "foo0", "foo1", ... and will collect data until one is found
#      to be empty.
#
key:         who
#
# parameters: name, supercool, gravity
#      This collects the list of parameters to collect for each of the keys
#      found.  For example, if the above three parameters are listed, then
#      the data collection engine will look for name0, supercool0, gravity0,
#      and so on, for each key found
parameters:  favoritecolor, favoritefood, favoritedrink
#
# extras: dataversion, comment
#      Contains a list of 'singular' extra values to be collected as well.
#
extras:      dataversion,surveyversion
#
# values: regexp
#      This defines a regular expression that each of the parameters
#      is allowed to match against.  If not set, then any value will
#      be assumed to be ok.  Make sure to bound the expression by ^
#      and $ if it must match exactly from beginning to end.
values:      ^([a-zA-Z0-9 ])$
keyvalues:   ^[a-zA-Z ])$
extravalues: ^[0-9\.]+$
#
# logaddress: sha1
#      Either a 1 value to indicate logging the incoming connection address
#      with the data, or a sha1 hash if you want to anonomize the data a bit
#      before storing it
logaddress:  sha1
#startat:     0
